@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-fonts {
    font-family: "Work Sans", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  /* Shared Styles */
  .display-flex{
    display: flex;
  }
  /* Dark01 */

  /* Dark2 */
  .text-gray{
    color: #424242;
  }
/* Dark 03 */
.text-light-gray{
  color: #727272;
}

.bg-light{
  background-color:rgba(255, 144, 14, 0.1);
}

.btn-primary{
  background-color:#FF900E ;
  border-radius:8px ;
  color:White;
  border: none;
  padding: 20px 25px;
  font-size: 1.25rem;
  font-weight: 600;
}

main{
  max-width: 1300px;
  margin: 0 auto;
}

main > section{
  margin-top: 130px;
}

.top-margin{
  margin-top: 32px;
}


  /* Header Related Styles */



  /* Navbar Related Styles */
  .navbar{
    justify-content: space-between;
    align-items: center;
  }
  .brand{
    font-size:2.8rem ;
    font-weight:bold;
  }
  .nav-item{
    list-style: none;
    margin-right: 30px;
  }
  .nav-link{
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
  }

  .navbar, .banner{
    max-width: 1300px;
    margin: 0 auto;
  }

  /* Banner Related Style Start Here */
  .banner-content{
    max-width: 860px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
  }

  .banner-title{
    font-size: 4rem;
    font-weight: bold;
  }
  .banner-subtitle{
    font-weight: bold;
    color: #FF900E;
  }
  .banner-description{
    font-size: 1rem;
    font-weight: 400;
  }

  .banner-img{
    width: 100%;
  }

  .team-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
  }

  .our-features{
    margin-left: 73px;
    max-width: 530px;
  }

  .teams{
    align-items: center;
  }

  .feature-title{
    font-size: 2.8rem;
    font-weight: 700;
  }

  .quick-list{
    font-size: 2.8rem;
    font-weight: 500;
  }
  .ofour{
    font-size: 2.8rem;
    font-weight: bold;
  }
  .feature{
    font-size: 2.8rem;
    font-weight: bold;
    color: #FF900E;
  }

  .feature-description{
    font-size: 1rem;
    font-weight: 400;
    text-align: justify;
  }
  



/* Mobile device First Approach  */
@media screen and (max-width:576px) {
    .navbar,
    .nav-links,
    .teams{
      flex-direction: column;
    }
    .team-img-container{
      grid-template-columns: repeat(1, 1fr);
    }
    .our-features{
      margin-left: 5px;
    }
  
}

/* Tablet Device Second Approch */

@media screen and (min-width:577px) and (max-width:992px) {
  .teams{
    flex-direction: column-reverse;
  }
  .team-img-container{
    grid-template-columns: repeat(2, 1fr);
  }
 
  
}